.searchPage {

    &__header {
        display: flex;
        align-items: flex-start;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 100;
        padding: 20px 30px;
        border-bottom: 1px solid lightgray;
    }

    &__logo {
        object-fit: contain;
        height: 36px;
        width: 92px;
        margin-right: 50px;
    }

    &__headerBody {

        > .search {

            > .search__input {
                margin-top: 0;
                width: unset;
                margin: unset;
                max-width: unset;
            }
        }
    }

    &__options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: grey;
    
        &Left, &Right {
            display: flex;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        margin-right: 20px;

        & a {
            margin-left: 5px;
            text-decoration: none;
            color: gray;
            font-family: 'Product Sans', sans-serif;
            font-weight: 400;
        }

        .icon {
            width: 17px;
            height: 17px;
        }
    }

    &__results {
        max-width: 40.625rem;
        margin-bottom: 6.25rem;
        margin-left: 10.938rem;
    }

    &__resultCount {
        color: #70757a;
        line-height: 43px;
        font-family: 'Product Sans', sans-serif;
    }

    &__result {
        margin-bottom: 40px;
        line-height: 1.5;

        &Link {
            color: #202124;
            line-height: 1.3;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &Title {
            text-decoration: none;

            > h2 {
                font-size: 1.25rem;
                font-weight: 500;
                font-family: Arial, Helvetica, sans-serif;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        &Description {
            color: #4d5156;
            line-height: 1.58;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}




